style.
  .page-footer{
    background:red;
  }
footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Footer 
        p.grey-text.text-lighten-4 Our address
      .col.l4.offset-l2.s12
        h5.white-text Our web-address
        ul
          li
            a.grey-text.text-lighten-3(href='#!') Instagram
          li
            a.grey-text.text-lighten-3(href='#!') Telegram
          li
            a.grey-text.text-lighten-3(href='#!') Facebook
          li
            a.grey-text.text-lighten-3(href='#!') WhatsApp
  .footer-copyright
    .container
      a.grey-text.text-lighten-4.right(href='#!') +998 91 111 11 11