style.
  nav{
    background:red;
  }
nav
  .container 
    .nav-wrapper
    a.brand-logo(href='/') NAV
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a(href='/') Home page
      li
        a(href='/contact/') Call center
      li
        a(href='/shorts') Shorts
      

