extends layouts/main
block content 
   style.
     body{
     background: #fff ;
    }
     h1{
     font-weight: 600;
     color: #000;
     text-align: center ;
    }
    footer{
     margin-top:383px;
    }
   .container
     .row
        .col-xl-12
           h1 PAGE 3